.color_bg1{
    background-color:rgb(2, 84, 100);
}
.color_bg2{
    background-color:rgb(62, 65, 73);
}
.item_center{
    text-align: center;
}
.none_decoration{
    text-decoration: none;
}